Repository ethyca/fides-terraform, changes with the labels that .github/labeler.yaml gives for each.
All labels: terraform, documentation, ci/cd

docs: update instructions
  .github/workflows/label-pr.yaml
  fides-aws-ecs/README.md
Labels: documentation, ci/cd

fix: rename github actions from yaml --> yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/label-pr.yml
Labels: ci/cd

refactor: change label name to be instance-specific
  .github/labeler.yml
  fides-aws-ecs/fargate-fides.tf
Labels: terraform, ci/cd

docs: formatting of code sample
  fides-aws-ecs/README.md
Labels: documentation

fix: remove as a possible value for log level
  fides-aws-ecs/README.md
  fides-aws-ecs/variables.tf
Labels: terraform, documentation

chore: bump to fides version 2.1.0
  fides-aws-ecs/variables.tf
Labels: terraform

feat: add output for ALB DNS name
  fides-aws-ecs/outputs.tf
Labels: terraform

fix: move to decomposed database configuration
  fides-aws-ecs/fargate-fides.tf
Labels: terraform

feat: add outputs for Fides credentials
  fides-aws-ecs/outputs.tf
Labels: terraform

fix: associate Redis with Security Group
  fides-aws-ecs/network.tf
  fides-aws-ecs/redis.tf
Labels: terraform

fix: names of env vars and permissions
  fides-aws-ecs/fargate-fides.tf
Labels: terraform

chore: bump Fides version to 2.2.1
  fides-aws-ecs/variables.tf
Labels: terraform

feat: add privacy center
  .gitignore
  fides-aws-ecs/.terraform.lock.hcl
  fides-aws-ecs/alb-fides.tf
  fides-aws-ecs/alb-privacy-center.tf
  fides-aws-ecs/config/privacyCenterConfig.css
  fides-aws-ecs/config/privacyCenterConfig.json.tftpl
  fides-aws-ecs/ecs-fides.tf
  fides-aws-ecs/ecs-privacy-center.tf
  fides-aws-ecs/ecs.tf
  fides-aws-ecs/main.tf
  fides-aws-ecs/network.tf
  fides-aws-ecs/outputs.tf
  fides-aws-ecs/s3-privacy-center.tf
  fides-aws-ecs/secrets.tf
  fides-aws-ecs/variables.tf
Labels: terraform

fix: allow Fides root password to be passed as var
  fides-aws-ecs/secrets.tf
Labels: terraform

feat: allow custom domain names + https
  fides-aws-ecs/alb-fides.tf
  fides-aws-ecs/alb-privacy-center.tf
  fides-aws-ecs/dns.tf
  fides-aws-ecs/ecs-fides.tf
  fides-aws-ecs/network.tf
  fides-aws-ecs/s3-privacy-center.tf
  fides-aws-ecs/variables.tf
Labels: terraform

feat: update with latest env vars and configurations
  fides-aws-ecs/dns.tf
  fides-aws-ecs/ecs-fides.tf
  fides-aws-ecs/ecs-privacy-center.tf
  fides-aws-ecs/outputs.tf
  fides-aws-ecs/variables.tf
Labels: terraform

feat: update the format of the latest config.json for the privacy center
  fides-aws-ecs/config/privacyCenterConfig.json
  fides-aws-ecs/config/privacyCenterConfig.json.tftpl
  fides-aws-ecs/s3-privacy-center.tf
Labels: terraform

Update command for launching privacy center through ECS
  fides-aws-ecs/ecs-privacy-center.tf
Labels: terraform

feat: add first-class terraform variables to control more of Fides' configuration
  README.md
  fides-aws-ecs/.terraform.lock.hcl
  fides-aws-ecs/README.md
  fides-aws-ecs/ecs-fides.tf
  fides-aws-ecs/ecs-privacy-center.tf
  fides-aws-ecs/main.tf
  fides-aws-ecs/secrets.tf
  fides-aws-ecs/variables.tf
Labels: terraform, documentation

fix: deprecated eip attribute
  fides-aws-ecs/network.tf
Labels: terraform

refactor: move lifecycle block to var validation rule
  fides-aws-ecs/network.tf
  fides-aws-ecs/variables.tf
Labels: terraform

refactor: split out env vars to be shared between worker & webserver
  fides-aws-ecs/dns.tf
  fides-aws-ecs/ecs-web-server.tf
  fides-aws-ecs/shared-environment-variables.tf
Labels: terraform

feat: add workers and refactor other ecs code
  fides-aws-ecs/ecs-fides.tf
  fides-aws-ecs/ecs-privacy-center.tf
  fides-aws-ecs/ecs-web-server.tf
  fides-aws-ecs/ecs-worker.tf
  fides-aws-ecs/variables.tf
Labels: terraform

feat: add queue specific workers
  fides-aws-ecs/alb-fides.tf
  fides-aws-ecs/ecs-web-server.tf
  fides-aws-ecs/ecs-worker.tf
  fides-aws-ecs/main.tf
  fides-aws-ecs/secrets.tf
  fides-aws-ecs/variables.tf
Labels: terraform

feat: improve RDS monitoring and management
  fides-aws-ecs/postgres.tf
  fides-aws-ecs/variables.tf
Labels: terraform

fix: terraform validation errors for ECS roles
  fides-aws-ecs/ecs-web-server.tf
Labels: terraform

feat: add access logging and additional buckets
  fides-aws-ecs/alb-fides.tf
  fides-aws-ecs/alb-privacy-center.tf
  fides-aws-ecs/main.tf
  fides-aws-ecs/s3-alb-logs.tf
  fides-aws-ecs/s3-dsr.tf
  fides-aws-ecs/s3-privacy-center.tf
  fides-aws-ecs/variables.tf
Labels: terraform

feat: improve security group configuration
  fides-aws-ecs/alb-fides.tf
  fides-aws-ecs/alb-privacy-center.tf
  fides-aws-ecs/ecs-privacy-center.tf
  fides-aws-ecs/ecs-web-server.tf
  fides-aws-ecs/ecs-worker.tf
  fides-aws-ecs/network.tf
  fides-aws-ecs/redis.tf
Labels: terraform

feat: add Cloudfront for Fides and the Privacy Center
  fides-aws-ecs/cloudfront.tf
  fides-aws-ecs/dns.tf
  fides-aws-ecs/main.tf
  fides-aws-ecs/variables.tf
Labels: terraform

refactor: add some defaults to input variables
  fides-aws-ecs/variables.tf
Labels: terraform

chore: add newline to end of gitignore
  .gitignore
Labels: none

fix: remove reference to fidesops
  fides-aws-ecs/variables.tf
Labels: terraform

feat: add defaults to optional variables
  fides-aws-ecs/variables.tf
Labels: terraform

feat: allow private images to be pulled
  fides-aws-ecs/README.md
  fides-aws-ecs/ecs-privacy-center.tf
  fides-aws-ecs/ecs-web-server.tf
  fides-aws-ecs/ecs-worker.tf
  fides-aws-ecs/secrets.tf
  fides-aws-ecs/variables.tf
Labels: terraform, documentation

fix: support for private Docker image access + various deployment problems
  fides-aws-ecs/.terraform.lock.hcl
  fides-aws-ecs/alb-fides.tf
  fides-aws-ecs/alb-privacy-center.tf
  fides-aws-ecs/cloudfront.tf
  fides-aws-ecs/dns.tf
  fides-aws-ecs/ecs-fides.tf
  fides-aws-ecs/ecs-privacy-center.tf
  fides-aws-ecs/ecs-web-server.tf
  fides-aws-ecs/ecs-worker.tf
  fides-aws-ecs/postgres.tf
  fides-aws-ecs/s3-alb-logs.tf
  fides-aws-ecs/s3-dsr.tf
  fides-aws-ecs/s3-privacy-center.tf
  fides-aws-ecs/secrets.tf
  fides-aws-ecs/variables.tf
Labels: terraform

docs: add a `CHANGELOG.md`
  CHANGELOG.md
Labels: documentation

docs: update CHANGELOG.md in preparation for `1.0.0` release
  CHANGELOG.md
Labels: documentation

feat: create a release action to tag modules if the version number changes
  .github/workflows/release.yml
  fides-aws-ecs/version.json
Labels: ci/cd

feat: validate version numbers in CI
  .github/workflows/ci.yml
Labels: ci/cd

docs: README.md updates
  README.md
  fides-aws-ecs/README.md
Labels: documentation

.github/labeler.yaml:

terraform:
  - "**/*.tf"
  - "**/.terraform.lock.hcl"
  - "**/*.tftpl"

documentation:
  - "**/*.md"

ci/cd:
  - ".github/**/*"
