Repository ethyca/fides-terraform, changes with the labels that .github/labeler.yaml gives for each.
All labels: terraform, documentation, ci/cd

fix: remove legacy consent options by default
  fides-aws-ecs/config/privacyCenterConfig.json
Labels: none

docs: update prerequisites to include an R53 zone
  fides-aws-ecs/README.md
Labels: documentation

fix: worker default to abide by validation rules
  fides-aws-ecs/variables.tf
Labels: terraform

fix: error in release pipeline & general improvements
  .github/workflows/release.yml
Labels: ci/cd

chore: increment version to trigger release
  fides-aws-ecs/version.json
Labels: none

chore: CHANGELOG.md entry for \`1.0.1\`
  CHANGELOG.md
Labels: documentation

refactor: use longform CLI variable names
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ci/cd

docs: create an update guide
  CHANGELOG.md
  UPGRADE_TO_v1.md
  fides-aws-ecs/README.md
Labels: documentation

chore(deps): update CI/CD dependencies and fix release
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ci/cd

feat: improve ci/cd, add .terraform-version file as source of truth
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .terraform-version
  CHANGELOG.md
  README.md
  UPGRADE_TO_v1.md
  fides-aws-ecs/version.json
Labels: documentation, ci/cd

docs: update CHANGELOG
  CHANGELOG.md
Labels: documentation

chore: add newline to end of file
  .terraform-version
Labels: none

refactor: improve yaml consistency
  .github/workflows/ci.yml
Labels: ci/cd

feat: update route_53 validation statements to permit default value
  fides-aws-ecs/variables.tf
Labels: terraform

Update version number, changelog
  CHANGELOG.md
  fides-aws-ecs/version.json
Labels: documentation

Update version number
  CHANGELOG.md
Labels: documentation

Update version release date
  CHANGELOG.md
Labels: documentation

.github/labeler.yaml:

terraform:
  - "**/*.tf"
  - "**/.terraform.lock.hcl"
  - "**/*.tftpl"

documentation:
  - "**/*.md"

ci/cd:
  - ".github/**/*"
